<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GridcoinSnapshotGenerator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GridcoinSnapshotGenerator.My.MySettings>
            <setting name="Timer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>7z</value>
            </setting>
            <setting name="CreateChecksum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MD5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHA256" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHA512" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Upload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadFolderID" serializeAs="String">
                <value />
            </setting>
        </GridcoinSnapshotGenerator.My.MySettings>
    </userSettings>
</configuration>